@import "tailwindcss";

/* 自定义滚动条样式 */
@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #565869;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #acacbe;
  }
}
